{% extends "LouvreBundle::layout.html.twig" %}

{% block title %}
	Infos
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container">

		<h1>Infos pratiques</h1>
		<p>Le musée est ouvert tous les jours de 9h à 18h excepté le mardi</p>
		<p>Le musée est fermé tous les 1er mai, 1er novembre et 25 décembre</p>

		<br/>

		<h1>Tarifs</h1>
		<ul>
			<li>Tarif "normal" à partir de 12 ans à 16€</li>
			<li>Tarif "enfant" de 4 ans à 12 ans, à 8€ (entrée gratuite pour les enfants de mois de 4 ans</li>
			<li>Tarif "sénior" à partir de 60 ans pour 12€</li>
			<li>Tarif "réduit" de 10€ pour les étudiants, employés du musée, d'un service du Ministères de la Culture, ou militaires</li>
		</ul>

		<br/>

		<h1>Types de billet</h1>
		<p>
			Tous nos billets sont disponibles en type demi-journée, le tarif est alors de -50% et vous ne pourrez rentrer dans le musée qu'à partir de 14h
		</p>

	</div>
{% endblock %}
